<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sematec.android.advanced.dey98">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dgr.TestDaggerActivity"></activity>
        <activity android:name=".di.TestDIActivity" />
        <activity android:name=".rx.TestRxActivity" />
        <activity android:name=".mvp.TestMVPActivity" />
        <activity android:name=".TestRetrofitActivity"/>
        <activity android:name=".livedata.TestLiveDataActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".mvvm.TestMVVMActivity">
        </activity>
        <activity android:name=".rx.TestRxBindingActivity"></activity>
        <activity android:name=".NullableVariableActivity" />
        <activity android:name=".TestFunctionActivity" />
        <activity android:name=".TestLambdaActivity" />
        <activity android:name=".TestRecyclerActivity" />
        <activity android:name=".TestJavaActivity" />
        <activity android:name=".testkotlin.MainActivity" />
    </application>

</manifest>